<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<sectionGroup name="ajaxNet">
			<section name="ajaxSettings" type="AjaxPro.AjaxSettingsSectionHandler,AjaxPro.2" requirePermission="false" restartOnExternalChanges="true"/>
		</sectionGroup>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
		<section name="SwitchProtocol" type="SwitchProtocolSection"/>
	</configSections>
	<ajaxNet>
		<ajaxSettings>
			<jsonConverters>
				<add type="AjaxPro.BitmapConverter,AjaxPro.2"/>
			</jsonConverters>
			<debug enabled="false"/>
			<token enabled="false" sitePassword="somepassword"/>
			<oldStyle>
				<includeMsPrototype/>
				<noUtcTime/>
			</oldStyle>
		</ajaxSettings>
	</ajaxNet>
	<location path="ajaxpro">
		<!-- For IIS 7.0-->
		<!-- ============================================== -->
		<system.webServer>
			<handlers>
				<add name="ajaxhandler"  verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2"/>
			</handlers>
		</system.webServer>
		<!-- For IIS 6.0-->
		<!-- ============================================== -->
    <system.web>
			<httpHandlers>
				<add verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2"/>
			</httpHandlers>
		</system.web>
  </location>
	<SwitchProtocol>
		<!-- Development Machine Settings -->
		<urls baseUrl="http://localhost" baseSecureUrl="https://localhost"/>
	</SwitchProtocol>
	<appSettings>
    <!-- Email Setting (START) -->
    <add key="Password" value="earth987"/>
    <add key="MailServer" value="smtp.gmail.com"/>
    <add key="Port" value="587"/>
    <add key="EnableSSL" value="true"/>
    <add key="TestEmail" value="min.qi@earth9.com"/>
    <add key="UserName" value="testearth9@gmail.com"/>
    <add key="EnableEmail" value="true"/>
    <!-- Email Setting (ENDS) -->
    <add key="BarCodeFontFile" value="C:\rddelacruz\Projects\NTUC Eldercare\trunk\web\Code39Font\FREE3OF9.TTF"/>
    <add key="BarCodeFontFamily" value="Free 3 of 9"/>
    <add key="OutputPDFInvoiceVirPath" value="_output\pdfinvoice"/>
    <add key="OutputBarcodeImageVirPath" value="/ntuceldercare/_output/barcodeimg/bc.png"/>
    <add key="OutputBarcodeImagePhysicalPath" value="C:\rddelacruz\Projects\NTUC Eldercare\trunk\web\_output\barcodeimg\heart.png"/>
    <add key="LogoPath" value="D:\Projects\NTUCEldercare_Phase2\web\App_Themes\Default\Images\ntuchealth_logo_192x38.jpg"/>
    <add key="GSTRegistrationNo" value="M4-0005678-1"/>
    <add key="EmailSenderAddress" value="admin@earth9.com"/>
    <add key="AppUrl" value="http://localhost:52441/web"/>
    <!--<add key="SMTPHost" value="117.120.3.206"/>-->
    <add key="GSTRegistration" value="M90365210L"/>
    <add key="OutputPreviewPDFPhysicalPath" value="D:\Projects\NTUCEldercare_Phase2\web\_output\preview_invoice\"/>
    <add key="OutputPDFPhysicalPath" value="D:\Projects\NTUCEldercare_Phase2\web\_output\pdfinvoice"/>
		<add key="OutputPDFPhysicalPathTesting" value="D:\Projects\NTUCEldercare_Phase2\web\_output\pdfinvoice\"/>
		<add key="SMSUser" value="ntuc"/>
		<add key="SMSPassword" value="ntuc123"/>
		<add key="SMSExceptionMessage" value="Error. Please contact system administrator."/>
		<add key="SMSSuccessMessage" value="Success."/>
		<add key="SMSFailureMessage" value="Invalid SMS format."/>
		<add key="FavouritiesCount" value="10"/>
		<add key="RencentPagesCount" value="10"/>
		<add key="MemberCount" value="10"/>
		<add key="CarePlanCount" value="10"/>
		<add key="ICareOfficerCount" value="10"/>
		<add key="VolunteerCount" value="10"/>
		<add key="ClientCount" value="10"/>
		<add key="membershowcount" value="10"/>
		<add key="rentaloverduecount" value="10"/>
		<add key="outstandingpaymentcount" value="10"/>
		<add key="NewClientDays" value="15"/>
		<add key="NewServicesDays" value="15"/>
    <add key="DayCareInvoiceRemarks1" value="Items marked with a (*) are not subject to prevailing GST."/>
    <add key="DayCareInvoiceRemarks2" value="Day Care Subsidy from MOH Financial Assistance are based on full day care attendance for operating days."/>
    <add key="DayCareInvoiceRemarks3" value="Eldercare Trust Subsidies are made possible by donations received by Eldercare Trust."/>
    <add key="DayCareInvoiceRemarks4" value="This is a computer generated tax invoice, therefore no signature is required. "/>
    <add key="DayCareInvoiceRemarks5" value="-"/>
    <!--<add key="DayCareInvoiceRemarks1" value="Day Care Subsidy from MCYS Financial Assistance are based on full day care attendance for operating days."/>
    <add key="DayCareInvoiceRemarks2" value="Adjustments to Day Care Subsidy from MCYS Financial Assistance are calculated based on previous month's actual day care"/>
    <add key="DayCareInvoiceRemarks3" value="attendance / 15 days (whichever is higher)."/>
    <add key="DayCareInvoiceRemarks4" value="Eldercare Trust Subsidies are made possible by donations received by Eldercare Trust."/>
    <add key="DayCareInvoiceRemarks5" value="This is a computer generated invoice, therefore no signature is required."/>-->
    <add key="bankremarks1" value="For GIRO/Bank Transfers, please indicate Tax Invoice Number and remit your payment to our bank account as follow:"/>
    <add key="bankremarks2" value="Account Name:       NTUC Health Co-operative Ltd"/>
    <add key="bankremarks3" value="Account No.:          001-059329-3"/>
    <add key="bankremarks4" value="Bank Name:            DBS Bank  "/>
    <add key="bankremarks5" value="Bank Code:            7171"/>
    <add key="bankremarks6" value="Branch Code:          001"/>
    <add key="bankremarks7" value="Account Type:          Current Account"/>
    <add key="HomeCareInvoiceRemarks1" value="All payments are to be made within 7 working days upon receipt of Invoice."/>
    <add key="HomeCareInvoiceRemarks2" value="This serves as an Official Receipt. No other Official Receipt will be issued unless requested."/>
    <add key="HomeCareInvoiceRemarks3" value="Eldercare Trust Subsidies are made possible by donations received by Eldercare Trust."/>
    <add key="HomeCareInvoiceRemarks4" value="This is a computer generated invoice, therefore no signature is required."/>
    <add key="HomeCareInvoiceRemarks5" value="-"/>
		<add key="DbConnectionString" value="server=117.120.3.196;database=NTUCEldercare_17042015_NEW;user id=sa;password=earth9;"/>
		<add key="DayCareOfficerInvoiceScheduler" value="D:\websites\NTUCEldercare\DEV\Applications\DayCareInvoice\NTUCEldercare_ICareOfficerPaySlip_Scheduler.exe"/>
		<add key="HomeCareOfficerInvoiceScheduler" value="D:\websites\NTUCEldercare\DEV\Applications\ICareServiceInvoice\NTUCEldercare_ICareOfficerPaySlip_Scheduler.exe"/>
		<add key="ICareOfficerPaySlipScheduler" value="D:\websites\NTUCEldercare\DEV\Applications\ICareOfficerPaySlip\NTUCEldercare_ICareOfficerPaySlip_Scheduler.exe"/>
		<add key="ReliefStaffPaySlipScheduler" value="D:\Websites\NTUCEldercare\DEV\Applications\ReliefStaffPaySlip\NTUCEldercare_ICareOfficerPaySlip_Scheduler.exe"/>
		<add key="CourceCancelScheduler" value="D:\Websites\NTUCEldercare\DEV\Applications\ReliefStaffPaySlip\NTUCEldercare_CourseCancellation_Scheduler.exe"/>
    <add key="WkhtmltopdfInstallPath" value="C:\Program Files\wkhtmltopdf\bin"/>
	</appSettings>
	<connectionStrings>
    <add name="MSSQLConnectionString" connectionString="server=117.120.3.196;database=NTUCEldercare_17042015_NEW;user id=sa;password=earth9" providerName="System.Data.SqlClient" />
    <add name="NTUCEldercareEntities" connectionString="metadata=res://*/DataAccess.NTUCEldercare.csdl|res://*/DataAccess.NTUCEldercare.ssdl|res://*/DataAccess.NTUCEldercare.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=117.120.3.196;Initial Catalog=NTUCEldercare_17042015_NEW;Persist Security Info=True;user id=sa;password=earth9;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    
    <!--<add name="MSSQLConnectionString" connectionString="server=localhost;database=NTUCEldercare_uat_new;user id=sa;password=earth9" providerName="System.Data.SqlClient" />
		<add name="NTUCEldercareEntities" connectionString="metadata=res://*/DataAccess.NTUCEldercare.csdl|res://*/DataAccess.NTUCEldercare.ssdl|res://*/DataAccess.NTUCEldercare.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=NTUCEldercare_17042015;Persist Security Info=True;user id=sa;password=earth9;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="MSSQLConnectionString" connectionString="server=localhost;database=NTUCEldercare_Prod_Backup;user id=sa;password=earth9" providerName="System.Data.SqlClient" />
		<add name="NTUCEldercareEntities" connectionString="metadata=res://*/DataAccess.NTUCEldercare.csdl|res://*/DataAccess.NTUCEldercare.ssdl|res://*/DataAccess.NTUCEldercare.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=NTUCEldercare_17042015;Persist Security Info=True;user id=sa;password=earth9;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->	
	</connectionStrings>
	<location path="Reports/DayCareFinancialReport.aspx">
		<system.web>
			<httpRuntime executionTimeout="99999"/>
		</system.web>
	</location>
	<system.web>
		<caching>
			<sqlCacheDependency enabled="true">
				<databases>
					<add name="NTUCEldercare" connectionStringName="MSSQLConnectionString" pollTime="500"/>
				</databases>
			</sqlCacheDependency>
		</caching>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
		<httpHandlers>
			<remove path="*.asmx" verb="*"/>
			<add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
		<sessionState timeout="600"/>
		<httpRuntime maxRequestLength="99999" executionTimeout="9999"/>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v2.0.50727"><dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding></runtime>
</configuration>
