/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ID]
      ,[ServiceGroupId]
      ,[Name]
      ,[Description]
      ,[NumberOfDays]
      ,[DayCarePlanTypeId]
      ,[StatusId]
      ,[IsDeleted]
      ,[CreatedDate]
      ,[CreatedBy]
      ,[UpdatedDate]
      ,[UpdatedBy]
      ,[PlanType]
      ,[CentreAccessDelimit]
      ,[ProgrammeType]
      ,[SubsidyAccessDelimit]
      ,[ILTCServiceType]
  FROM [NTUCEldercare_17042015_NEW].[dbo].[DayCarePlan]