/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ID]
      ,[ClientId]
      ,[ServicePlanIdDelimit]
      ,[DayCarePlanId]
      ,[EffectiveDate]
      ,[CentreId]
      ,[TransportFee]
      ,[CompanionMeal]
      ,[FrequencyDelimit]
      ,[CreatedDate]
      ,[CreatedBy]
      ,[UpdatedDate]
      ,[UpdatedBy]
      ,[IsInvoiceProcessed]
      ,[NoOfDays]
      ,[IsCurrentPlan]
      ,[PreviousPlanId]
      ,[ServiceGroupId]
      ,[IsActive]
      ,[WithSubsidy]
      ,[EffectiveEndDate]
  FROM [NTUCEldercare_17042015_NEW].[dbo].[Client_DayCareServicePlan]
  where clientid = '1075'
  -- where ID = 5566