/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ID]
      ,[ServiceGroupId]
      ,[StatusId]
      ,[Name]
      ,[Address]
      ,[PostalCode]
      ,[Phone]
      ,[Fax]
      ,[OperatingHours]
      ,[Capacity]
      ,[ContactName]
      ,[ContactEmail]
      ,[TargetJan]
      ,[TargetFeb]
      ,[TargetMar]
      ,[TargetApr]
      ,[TargetMay]
      ,[TargetJun]
      ,[TargetJul]
      ,[TargetAug]
      ,[TargetSep]
      ,[TargetOct]
      ,[TargetNov]
      ,[TargetDec]
      ,[IsDeleted]
      ,[CreatedDate]
      ,[CreatedBy]
      ,[UpdatedDate]
      ,[UpdatedBy]
      ,[CentrePrefix]
      ,[HCI]
  FROM [NTUCEldercare_17042015_NEW].[dbo].[Centre]
  -- where id = 16