/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ID]
      ,[ClientId]
      ,[ServiceGroupId]
      ,[ShortTermGoal]
      ,[LongTermGoal]
      ,[Activity]
      ,[Comment]
      ,[DateAcheived]
      ,[STDateAcheived]
      ,[ReviewDate]
      ,[PlanType]
      ,[PresentLevel]
      ,[AchievementStatus]
      ,[STAchievementStatus]
      ,[ReminderSettings]
      ,[CreatedDate]
      ,[CreatedBy]
      ,[UpdatedDate]
      ,[UpdatedBy]
      ,[IsDeleted]
      ,[EnableReview]
      ,[CurrentIssues]
      ,[DesiredOutcome]
  FROM [NTUCEldercare_17042015_NEW].[dbo].[Client_CarePlan]